<activity
  android:name=".MainActivity"
  android:label="@string/app_name"
  android:exported="true"
  android:launchMode="singleTask">

  <!-- Intent-filter para Deep Linking -->
  <intent-filter android:label="QRHunt">
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="qrcode" android:host="qrhuntapp" />
  </intent-filter>

  <!-- Permissões necessárias para a câmera -->
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="true"/>
</activity>
