<plist version="1.0">
<dict>
    <!-- Outras chaves como CLIENT_ID, API_KEY, etc. -->

    <!-- Configuração de URL Types para Deep Linking -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.qrhuntapp</string> <!-- Identificador único -->
            <key>CFBundleURLSchemes</key>
            <array>
                <string>qrcode</string> <!-- Esquema usado no deep link -->
            </array>
        </dict>
    </array>

  
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.apple.corespotlightitem</string>
        <string>com.qrhuntapp</string>
    </array>

</dict>
</plist>